html {
  background: #000;
} 
* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


#num {
    color: #FFF !important;
    text-align: center;
    bottom: 0;
    width: 100%;
}
html:is(.reseting) #images_container {
    /* background: url("/img/chouquetteoko.png"); */
    background: url("/img/chouquette.gif");
    background-size: 100vw;
    background-repeat: repeat;
    background-position: center;
}
#images_container {
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-position-x: center;
}
.ui_ontop {
    z-index: 9999999999999999999999999999999999999999;
    position: fixed;
    position: fixed;
}
.hidden {
    display: none;
}

html:not(.alerte, .alerte_pan) #num,
html:not(.alerte_pan) body.no_help #num {
    display: none !important;
}


#alerte_pan { 
    position: fixed !important;
    bottom: 30px !important;
    left: 30px !important;
    z-index: 99999999999999999999999999999999999999999999999 !important;
    background: #000 !important;
    color: #FFF !important;
    font-family: sans-serif !important;
    padding: 10px !important;
    font-size: 15px;
}
body.not_help #alerte_pan {display: none;}



.image {
    will-change: auto;
    z-index: 0;
	display: none;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	padding: 0px !important;
	background-color: transparent !important;
	position: absolute;
	background-repeat: repeat !important;
	background-size: auto 100vh !important;
	border-top-width: 40px !important;
	background-position: center !important;
    position: absolute;
    top: 0;
    box-sizing: border-box;
}

/* TODO duration == change_img_interval (from cc.js) */
.image.active {
    animation: mymove1 6s infinite linear;
}
.image.active + .image {
    animation: mymove2 6s infinite linear;
}
.image.active + .image + .image {
    animation: mymove3 6s infinite linear;
}
.image.active + .image + .image + .image {
    animation: mymove4 6s infinite linear;
}
.image.active,
.image.active + .image,
.image.active + .image + .image,
.image.active + .image + .image + .image {
    display: block;
}

html.newstyle .image.active {
    animation: new_mymove1 1s infinite linear !important;
}
html.newstyle .image.active + .image {
    animation: new_mymove2 1s infinite linear !important;
}
html.newstyle .image.active + .image + .image {
    animation: new_mymove3 1s infinite linear !important;
}
html.newstyle .image.active + .image + .image + .image {
    animation: new_mymove4 1s infinite linear !important;
}
html.newstyle .image.active + .image + .image + .image + .image {
    animation: new_mymove5 1s infinite linear !important;
}
html.newstyle .image.active,
html.newstyle .image.active + .image,
html.newstyle .image.active + .image + .image,
html.newstyle .image.active + .image + .image + .image,
html.newstyle .image.active + .image + .image + .image + .image {
    display: block;
}




html.forcepause body:not(.no_help) #images_container {
    /* border-top: 100px solid rgb(51, 0, 255); */
    height: 100vh;
    box-sizing: border-box;
}
html.paused body:not(.no_help) #images_container {
    /* border-top: 100px solid rgb(234, 0, 255); */
    box-sizing: border-box;
    height: 100vh;
}
html:is(.forcepause, .paused) .image {
    /* animation: none !important; */
    animation-duration: 800ms !important;
}
html:is(.pause_loop) .image {
    animation-duration: 3s !important;
}
html.forcepause body:not(.no_help, .tapause) .image,
html.forcepause body:is(.tapause) .image {
    animation-duration: 10000000000000s !important;
}
html.forcepause:not(.taper) body:not(.no_help) .image:hover::before {
    content: attr(data-fileurl);
    position: fixed !important;
    bottom: 0px !important;
    font-size: sans-serif;
    padding: 10px;
    z-index: 99999999999 !important;
    background: #FFF !important;
}
/* 
html.pause_me .image.active + .image {
    animation: mymove_bis 6s infinite linear;
}
html.pause_me .image.active + .image + .image {
    animation: mymove_neg 6s infinite linear;
} */


@keyframes mymove1 {
    0% {z-index: 9999999999;}
    25% {z-index: 9999999999;}
    25.1% {z-index: -1;}
    100% {z-index: -1;}
}
@keyframes mymove2 {
    0% {z-index: -1;}
    25% {z-index: -1;}
    25.1% {z-index: 9999999999;}
    50% {z-index: 9999999999;}
    50.1% {z-index: -1;}
    100% {z-index: -1;}
}
@keyframes mymove3 {
    0% {z-index: -1;}
    50% {z-index: -1;}
    50.1% {z-index: 9999999999;}
    75% {z-index: 9999999999;}
    75.1% {z-index: -1;}
    100% {z-index: -1;}
}
@keyframes mymove4 {
    0% {z-index: -1;}
    75% {z-index: -1;}
    75.1% {z-index: 999999999999;}
    100% {z-index: 999999999999;}
}



@keyframes mymove_next {
    50% {z-index: 99901;}
}
@keyframes mymove_neg {
    0% {z-index: 9999999999;}
    100% {z-index: -999;}
}


@keyframes new_mymove1 {
    0% {z-index: 9999999999;}
    20% {z-index: 9999999999;} /* Ajusté */
    20.1% {z-index: -1;}
    100% {z-index: -1;}
}
@keyframes new_mymove2 {
    0% {z-index: -1;}
    20% {z-index: -1;} /* Ajusté */
    20.1% {z-index: 9999999999;}
    40% {z-index: 9999999999;} /* Ajusté */
    40.1% {z-index: -1;}
    100% {z-index: -1;}
}
@keyframes new_mymove3 {
    0% {z-index: -1;}
    40% {z-index: -1;} /* Ajusté */
    40.1% {z-index: 9999999999;}
    60% {z-index: 9999999999;} /* Ajusté */
    60.1% {z-index: -1;}
    100% {z-index: -1;}
}
@keyframes new_mymove4 {
    0% {z-index: -1;}
    60% {z-index: -1;} /* Ajusté */
    60.1% {z-index: 9999999999;}
    80% {z-index: 9999999999;} /* Ajusté */
    80.1% {z-index: -1;}
    100% {z-index: -1;}
}
@keyframes new_mymove5 {
    0% {z-index: -1;}
    80% {z-index: -1;} /* Commence après mymove4 */
    80.1% {z-index: 9999999999;}
    100% {z-index: 9999999999;}
}








/* .image:nth-last-child(2) {
    animation: mymove_neg 3s infinite linear;
}
.image:nth-last-child(3) {
    animation: mymove_neg 3s infinite linear;
}

.image:nth-last-child {
    animation: mymove_neg 3s infinite linear;
} */

* {
	margin: 0;
	padding: 0;
	list-style: none;
    transition: none !important;
}


@media (orientation: portrait) {
    .image {
        background-size: 105vw auto !important;
    }
    .ultra,
    .image.active + .image + .image 
    {
    animation: none !important;
    }
}

.image {
    color: transparent !important;
    background-color: transparent !important;
}
.ui_top {
    z-index: 999;
    position: fixed;
}
@media (orientation: landscape) {
    :root {
    --lr_width: 20vw;
    --tb_height: 25vh;
    }
}
@media (orientation: portrait) {
    :root {
        --lr_width: 23vw;
        --tb_height: 20vh;
    }    
}
@media (max-width: 800px) {
    #alerte_pan {
        display: none !important;
    }
}
@media (max-width: 300px) {
    .panels {
        display: none !important;
    }
}

#left_pan {
    cursor: w-resize;
}
#right_pan {
    right: 0;
    cursor: e-resize;
}

.ui_top {
  z-index: 999999999999;
  position: fixed;
}

.lr_side {
    width: var(--lr_width);
    height: 100vh;
    cursor: pointer;
    display: block;
    top: 0;
}
.tb_side {
    width: 100vw;
    height: var(--tb_height);
    cursor: pointer;
    display: block;
}
#bottom_pan {
    bottom: 0;
    cursor: s-resize;
}
#top_pan {
    top: 0;
    cursor: n-resize;
}

html:not(.live) body:not(.no_help) div:is(.tb_side),
html:not(.live) body.showsides div:is(.tb_side),
html:not(.live) body:not(.no_help) div:is(.tb_side) {
    background: rgba(150, 150, 150, 0.335);
}

html:not(.live) body:not(.no_help) div:is(.lr_side),
html:not(.live) body.showsides div:is(.lr_side),
html:not(.live) body:not(.no_help) div:is(.lr_side) {
    background: rgba(156, 156, 156, 0.318);
}



html:not(.live) body:not(.no_help) #left_pan::before,
html:not(.live) body.showsides #left_pan::before {
    content: "PREV";
    margin: auto;
    display: block;
    width: 150px;
    margin-top: 20px;
    font-size: 30px;
    font-family: sans-serif;
    position: relative;
    top: 45vh;
}
html:not(.live) body:not(.no_help) #right_pan::before,
html:not(.live) body.showsides #right_pan::before {
    content: "NEXT";
    margin: auto;
    display: block;
    width: 150px;
    margin-top: 20px;
    font-size: 30px;
    font-family: sans-serif;
    position: relative;
    top: 45vh;
}

html:not(.live) body:not(.no_help) #top_pan::before,
html:not(.live) body.showsides #top_pan::before {
    content: "SPEED UP";
    margin: auto;
    display: block;
    width: 150px;
    margin-top: 20px;
    font-size: 30px;
    font-family: sans-serif;
}
html:not(.live) body:not(.no_help) #bottom_pan::before,
html:not(.live) body.showsides #bottom_pan::before {
    content: "html.multi .active {
  filter: hue-rotate(100deg);
}
html.multi .active + .image {
  filter: hue-rotate(500deg) !important;
}
html.multi .active + .image + .image {
  filter: hue-rotate(1400deg) !important;
} DOWN";
    margin: auto;
    display: block;
    width: 200px;
    margin-top: 20px;
    font-size: 30px;
    font-family: sans-serif;
}
body.showsides #bottom_pan::before
{
  bottom: 20px;
  top: auto;
  position: fixed;
  display: block !important;
  width: 100vw !important;
  text-align: center;
}


html:not(.live) .panels::before {
text-shadow: -1px 0px #FFF, 1px 0px #FFF, 1px 1px #FFF, 0px -1px #FFF;
}

body:not(.no_help) #overlay,
body.showsides #overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: block;
    /* background: red; */
    z-index: 999999999999999999;
    /* pointer-events: none; */
}
html:not(.live) body.showsides #overlay::before {
    content: "PAUSE";
    margin-top: calc(50vh - 28px) !important;
    display: block;
    font-size: 33px;
    margin: auto;
    width: 100px;
  }
  #overlay
  {
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    z-index: 999999999999999999999999999;
    top: 0;
  }


body:not(.showsides) div:is(#num, #alerte_pan, #overlay),
html.live div:is(#num, #alerte_pan, #overlay) {
    /* visibility: hidden !important; */ /* <-- ONCLICK NOT WORKS */ 
    opacity: 0 !important;
     /* _ATENTION DISPLAY NONE == unclicable ==> use visibility for overlay/pannes */
}

html body:not(.showsides) div:is(#alerte_pan) {
    display: none;
}

html.forcepause #alerte_pan,
html.forcepause .panels {
    opacity: 0;
}

body.no_help #num {
    display:none !important;
}


body.blur .image.active ~ .image{
opacity: 0.7;
}

html.gray .image.active,
html.gray .image.active ~ .image{
    filter: grayscale(80) contrast(1.6);
}
/* 
html .image.clicked {
    animation: mymove3 6s infinite linear;
} */


html.live * {
    cursor: none;
}

html.vert {
    filter: hue-rotate(410deg) saturate(2);
}
html.blue {
    filter: hue-rotate(210deg) saturate(2);
}
html.rouge {
    filter: hue-rotate(700deg) saturate(2);
}
html.revert { /* noir */
    filter: grayscale(1) contrast(1.2) invert(1);
}
/* 
  #pip-btn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 999999999999;
} */



#images_container_extra {
position: fixed;
top: 0;
left: 0;
width: 0vw;
height: 100vh;
display: block;
/* background: red; */
z-index: 999999999999999;
}
#images_container_extra .image {
width: 100vw;
background-size: 37vw !important;
background-repeat: no-repeat !important;
height: 100vh;
}

#images_container_extra .image {
animation: mymove_extra 30s infinite linear !important;
}
@keyframes mymove_extra {
    0% {z-index: 9999999999;}
    33% {z-index: 9999999999;}
    33.3% {z-index: -1;}
    100% {z-index: -1;}
}
#images_container_extra .active + .image {
    animation: mymove_extra 30s infinite linear !important;
    /* DOUBLE BACKGROUND IMAGE */
    background-size: 60vh auto, 80vh auto !important;
    background-repeat: no-repeat, repeat !important;
}
@keyframes mymove_extra {
    0% {z-index: -1;}
    33% {z-index: -1;}
    33.3% {z-index: 9999999999;}
    100% {z-index: 9999999999;}
}

#images_container_extra:not(.showme) {
display: none !important;
}

#infos {
position: fixed;
bottom: 0;
right: 0;
z-index: 999999999999999999999999999999;
background: #000;
color: #FFF;
font-family: sans-serif;
padding: 10px;
}
#infos img {
position: absolute;
margin-top: -120px;
margin-left: -100px;
position: absolute;
margin-top: calc(-8vw - 10px);
margin-left: calc(-8vw + 10px);
width: 8vw;
display:none
}


@media (max-width: 1200px) {
    #infos {
        display: none;
    }
}

#infos {
    display: none;
}

html.multi .active {
  filter: hue-rotate(-30deg) saturate(1.5) !important;
}
html.multi .active + .image {
  filter: hue-rotate(80deg) saturate(1.5) !important;
}
html.multi .active + .image + .image {
  filter: hue-rotate(200deg) saturate(1.5) !important;
}

.image { transition: height 10s; height: 100vh !important; }
.image.effect_go {
    height: 2300vh !important;
    transition: height linear 3s !important;
}
.image.effect_gogo {
    height: 9300vh !important;
    transition: height linear 10s !important;
}

html .image {
    background-color: transparent !important;
}
.image.piano {
    z-index: 999999999999999999999999999999999999999999999999999999999999 !important;
    position: fixed;
    left:0;
    top:0;
    animation: none !important;
    transition: none !important;
}
.image.piano.active,
.image.piano.active + .image,
.image.piano.active + .image + .image {
    animation: none !important;
    transition: none !important; 
    background-color: transparent !important;
}
.image.piano + .image {
    display: none;
}


.ghost {
    user-select: none;
    margin: 0 !important;
    float: left;
}  

