th {
  min-width: 80px;
}
/* th[scope] {
  padding-left: 10px !important;
} */
[scope="col"]
{
  font-size: 18px !important;
}
thead th[scope]:first-child {
  padding-left: 0 !important;
  padding-bottom: 3px;
}


html[data-sub_domaine="ars"] .home_list_div[data-set_name*="ARS_whotellthetrue"] {
  background: cyan !important
}

* {margin: 0; padding: 0; text-decoration: none; list-style: none; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
html {padding: 25px 30px;}

.column, .column * {
  width: auto;
  float: none;
}
th
{
  white-space: nowrap !important;
}
.home_list_div a, .set_title {
  float: left;
  margin-right: 10px;
}
.set_title {
  width: 100%;
  min-width: 140px;
}
#qrcode
{
  float: left;
  margin-right: 30px;
  clear: both;
  /* margin-top: 30px; */
}
#qrcode_wrap
{
  clear: both;
  margin-top: 50px;
  float: left;
}

#is_home {
  padding-bottom: 0;
  margin-bottom: 0.5em;
}
#hometext {
  margin-bottom: 50px;
}
#here_folders {
  display: block;
  clear: both;
  padding-top: 0;
  margin-top: 0px;
  float: left;
}
#homepage #here_folders {
  position: relative !important;
}
/* #here_folders, */
#hometext {
  display: block;
  float: left;
  /* border-left: 10px solid; */
  /* padding-left: 15px; */
}

th:last-child
{
  padding-left: 40px !important;
}
.cc_link
{
  width: 180px !important;
  padding-left: 55px !important
}
.list_link a
{
  margin-left: 15px;
}
.up_link a
{
  margin-left: 25px;
}
.up_link, .up_link a
{
  text-align: center !important;
}
.cc_link a[href*="rand"]
{
  margin-right: 2 !important;
  float: right;
}


#rand
{
  float: right;
  padding-right: 16px;
}
/* .cc_link a:last-child
{
  line-height: 1.2em;
} */
#hometext h1
{
  padding: 0;
  margin-top: 10px;
}
#random_chouquette {
  margin-top: 30px;
}
#bb_access {
  float: left;
  clear: both;
  margin-top: 1.1em;
}
#texteditor {
  float: left;
  clear: both;
  margin-top: 20px;
}

@media (max-width: 900px) { 
  .cc_link {
    padding-left: 0
  }
  #rand
  {
    float: none;
    padding-right: 20px;
    padding-left: 40px;
  }
  * {
    font-size: 23px !important;
  }
  li {
    margin-bottom: 10px !important;
  }

  #hometext
  {
    margin-top: 0px;
  }
  #qrcode
  {
      float: right;
      margin: auto;
      width: calc(100vw - 60px);
  }
  #qrcode_wrap {
    min-height: calc(100vh + 0px);
  }
}



@media (max-width: 800px) {
  #homepage #here_folders {
    position: relative !important;
    /* display: flex; */
  }
}
#chatter {
  white-space: nowrap;
}