
html {
  font-family: sans-serif;
  font-size: 18px;
}


button {
  /* font-family: mono; */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

h1 {
  margin: 0;
  font-size: 13px;
  padding-bottom: 10px;
}
h1.big {
  font-size: 18px;
}
h1.second {
  margin-top: 23px;
}
#actual_folder {
  margin-top: 45px;
}



a:visited {
  color: #6f008e;
}


.go_url_href {
  height: 50px;
  overflow: hidden;
}

#demo_cc iframe {
  border: 0;
  margin-top: 0;
  position: relative;
  left: auto;
  /* position: fixed; */
  /* right: 0; */
  /* top: 0; */
}
#demo_cc {
  float: right;
  padding: 10px;
  top: 0;
  position: fixed;
  right: 0;
  border: 0;
  z-index: 999;
}


#files button > * {
  width: 300px !important;
  width: 15vw !important;
  min-width: 240px;
}
#files div{
  display: inline;
  float: left;
}
#here_folders {
  margin-top: 10px;
  /* position: absolute; */
  display: flex;
}

.column, .column * {
  width: 200px;
  display: block;
  overflow: visible;
  float: left;
  /* word-wrap: normal; */
  word-wrap: anywhere;
  white-space: wrap;
  max-width: 200px;
}
html#up .column *,
html#up .column {
  width: 300px;
  max-width: 300px;
}
html#up  .img_up_chooser {
  width: auto;
  max-width: none;
}
html#up .column #lsup_change_name input {
  position: relative;
  left: 8px;
  max-width: 305px;
}

html#up .column .submit_lsinput.rename_btn,
html#up .column .rm_image {
  width: 305px;
  max-width: 305px;
}
html#up .lsinput.up {
  outline: 7px solid aqua;
  width: 293px;
  max-width: 293px;
}

/* html#up #here_folders .img {
  height: 100% !important;
} */
  .column img {
    width: calc(100% - 0px);
    margin-top: 2px !important;
  }
  div[data-folder="column"] {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
  }
  #hardreset {
    border: #000 !important;
    text-decoration: none !important;
  }

  /*QF DOUBLONS */
   /* .column[data-folder="column"] {
    display: none !important;
  } */
  /* .buttall + .buttall,  */
  .column:not(.ok) > .column > .buttall {
    display: none;
  }
  .column[data-folder="column ok"] {
    display: block !important;
  }
  .grp_buttons + .grp_buttons {
    display: none;
  }

  .grp_buttons button {
    margin: 30px auto;
    width: 160px;
    clear: both;
    float: none;
    display: block;
    padding: 10px;
    height: 60px;
    overflow: hidden;
  }
  #buttons_caution > button {
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
  }

  img.error {
    opacity: 0;
  }

  [type="submit"] {
    display: none;
  }

  #files {
    margin-top: 20px;
  }
  #files button {
    background: transparent;
    border: 1px solid #000;
    padding: 5px 5px 0px 5px;
    float: none;
    vertical-align: top;
    margin-bottom: 50px;
    margin-right: 10px;
  }

  img.pop {
    outline: 10px solid rgb(0, 255, 60);
    box-sizing: border-box;
  }

  .button_wrapper img {
    padding: 9px 6px 12px 6px;
  }

/* FIXED TRICKS => .html -> metavview */
/* SOURCE => https://dbushell.com/2013/09/10/css-fixed-positioning-and-mobile-zoom/ */
#sticky {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px;
} 
#prev_img,
#next_img
 {
  position: fixed;
    z-index: 100;
    bottom:0;
    padding: 10px;
    width: 110px !important;
    height: 80px;
    background: yellow;
}

#prev_img {
  left:0;
}
#next_img {
    right:0;
    left: 422px;
      bottom: 0px;
    }
#prev_img {
  bottom: 0px;
  left: 0;
}…
#lock,
#pause {
  bottom: 0;
  position: fixed;
  padding: 0px;
  margin-left: 35px;
  z-index: 99999999999;
  width: 110px !important;
  height: 78px;
  left: 470px;
}

#pause {
  left: 90px;
  bottom: 0px;
  width: 200px !important;
}

#newstyle, #point, #back, #rereturn {
  position: fixed !important;
  bottom: 0px !important;
  z-index: 99999999999999;
  padding: 25px;
}
#back {
  width: 110px;
}
#newstyle {
  bottom: -3px !important;
  left: 327px;
  width: 91px;
  background: #3be8fa;
}
html.newstyle_ls #newstyle {
  background: #78adff;
}

@media (min-width: 800px) {
  #lock {
    bottom: 0 !important;
    position: fixed;
    padding: 25px;
    left: 588;
    z-index: 99999;
  }

  #back {
    /* left: 665; */
    /* left: 225; */
    left: 775;
  }
  #point {
    left: 655;
    /* left: 113; */
  }
  #rereturn {
    left: 888;
  }
}

@media (max-width: 650px) {
  #back {
    left: 247 !important;
  }
  #rereturn {
    left: 181px;
  }
  #point {
    /* left: 113 !important; */
    left: 88 !important;
    padding: 25px 10px;
    width: 95px;
  }
}

#lock {
  margin-left: -50px;
  background: rebeccapurple;
  color: #FFF;
}
body.lock #lock {
  background: rgb(51, 3, 100);
}
body.lock :is(#next_img, #prev_img) {
  background: rgb(168, 179, 112);
}
body.point :is(#back) {
  background: rgb(201, 51, 255);
}
body.point :is(#rereturn) {
  background: rgb(28, 170, 68)
}



.go_url_href {
  text-align: center;
  padding: 0px 0 !important;
  text-decoration: none;
}
#cc_buttons button,
.grp_buttons a {
  text-align: center !important;
}
.instruction {
  font-size: 14px;
  margin-left: 0px;
  margin-bottom: 10px;
  position: absolute;
}
#open_this_cc {
  margin-top: -30px;
  margin-bottom: 12px;
  position: relative;
  font-size: 24px;
  text-decoration: none;
}
/* #cc_links, */
#cc_buttons {
  margin-top: -10px;
}
#cc_links {
  margin-top: 20px;
}

#title_ls {
  color: #ff2400;
}

#add_to_cc {
  margin-top: 5px;
}
br {
  float: none !important;
}
/* .column:nth-child(n+2) .instruction {
  visibility: hidden;
} */
.go_url_href.href_loop {
  margin-bottom: -10px;
  margin-top: -10px;
}

#or_all {
  display: inline;
}
#or_all * {
  float: none;
  display: inline;
}
.grp_buttons button.half {
  width: 41%;
  float: left;
  clear: none;
  margin: auto;
  position: relative;
  left: 14px;
  top: -20px;
  margin-right: 10px;
}


.btn,
button {
  background: #e6e6e6;
  color: #000;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}
/* #prev_img:is(:active), */
/* #next_img:is(:active), */
/* .column[data-folder] button:active  */

.btn:active,
button:not(.red_not_exists):active
{
  background: red !important;
}
.btn:focus,
[data-noclass]:not(.red_not_exists) button.point_me:focus {
  background: yellow;
}

#load_all_folders,
#listrefresh,
#listpls {
  background: yellowgreen;
}
#listpls {
  font-weight: bold;
}
#pause {
  background: cyan;
}
#randme {
  background: #cb93ff;
}
#remove_all {
  background: #ff8484;
}
#reload {
  background: #ffa700;
}
#restart {
  background: #ff8b53;
}
#restart_rand {
  background: #ff88e7;
}
#plusvite {
  background: #8bff00;
}
#moinsvite {
  background: #78ff78;
}
#next_folder {
  background: #b1e71c;
}
#killme_prev,
#killme_next {
  background: gray;
}

#rouge_style {
  background: #fdb7b7;
}
#vert_style {
  background: #8bf59c;
}
#blue_style {
  background: #babaff;
}
#gray_style {
  background: gray;
}
#revert_style {
  background: black;
  color: #FFF;
}
#point {
  background: rgb(188, 10, 179);
  color: #FFF;
}
#back {
  background: rgb(246, 42, 195);
  color: #FFF;
}
#rereturn {
  background: rgb(58, 183, 93);
  color: #FFF;
}

#moinsvite, #plusvite {
  width: 100px;
}
/* 
h1 {
  display: none !important
} */
#chouquette_links {
  margin-bottom: 10px
}
#indications {
  margin-top: 20px;
  font-size: 15px;
  margin-bottom: 30px !important;
}
#old_files {
  clear: both;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-top: 40px;
}
#files {
  /* display:none !important; */
}

#folders {
  display: block;
  float: left;
  margin-bottom: 50px;
}
#folders button img {
  /* max-width: 250px; */
  /* max-height: 160px; */
  max-width: 500px;
  max-height: 400px;
}
#folders button {
  overflow: hidden;
  vertical-align: bottom;
  margin-bottom: 30px;
  border: 1px solid;
  padding-top: 5px;
  margin-right: 11px;
  z-index: 99;
  
}
#siofu_input {
  color: crimson;
}
#siofu_input {
  /* font-size: 20px; */
  font-size: 1.2rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.button_wrapper {
  float: left;
  height: 450px;
}


button.rm_image {
  position: absolute;
  padding: 7px 15px 13px 15px !important;
  background: red !important;
  color: #FFF;
  border: 0;
}
button.rm_image:active {
  background: yellow !important;
}

#current_set {
  float: none;
  clear: left;
  display: inline-block;
  width: auto;
  text-decoration: underline;
}

.home_list_div {
  height: 20px;
}

.set_title,
.home_list_div a {
  padding: 6px;
}

#homepage .column {
  width: auto;
  max-width: none;
  float: left;
  display: block;
  clear: both;
}
#homepage .column * {
max-width: none;
}

.home_list_div[data-is_me="yes"] * {
  background: yellow;
}
#here_folders * {
  text-align: left;
}
#here_folders * {
  text-align: left;
  table-layout: revert-layer;
}

tr.home_list_div {
  outline: 1px solid #000;
}
#qrcode img {
  border: 1px solid #000;
}

/* @media (prefers-color-scheme: light) { */
@media (prefers-color-scheme: dark) {  
  tr.home_list_div {
    outline: 1px solid #FFF;
  }
  html
  {
    background: #000;
    color: #FFF;
  }
  html * {
    outline-color: #FFF;
  }

  html a {
    color: rgb(0, 255, 102) !important;
  }
  html a:visited {
    color: rgb(0, 200, 255) !important;
  }

  html .home_list_div[data-is_me="yes"] * {
    background: rgb(0, 125, 203)
  }
  #qrcode img {
    border: 1px solid #FFF;
  }

  label[for="toggle_buttons"] {
    color: #000 !important;
  }
} /* DARK */



/* @media (max-width: 800px) { */
  #buttons_caution {
    position: fixed !important;
    z-index: 9999999999999999999;
    top: 10px;
  }

  html:not(#homepage,#up) {
    margin-top: 60px;
  }

  #here_folders {
    margin-top: 10px;
    position: absolute;
    display: flex;
  }

  /* STARTUP INIT */
.grp_buttons {
  min-height: 360 !important;
  /* margin-bottom: -40px; */
}
/* MARGIN TO WHEN PAGE/TOP_BUTTONS loading */
[data-noclass="wrapwrap"]:first-child {
  margin-top: 360;
}

#cc_buttons {
  margin-top: -10px;
  margin-bottom: 10px;
}
.grp_buttons +  [data-noclass] {
  /* margin-bottom: 40px; */
  margin-top: 0px;
}
#cc_buttons input {
  font-size: 15px !important;
}

  #rm_iframe,
  label[for="toggle_buttons"], 
  #toggle_buttons {
    top: 20px;
    position: fixed;
    z-index: 9999999;
  }
  label[for="toggle_buttons"] {
    margin-left: 33px;
    margin-top: -7px;
    background: yellow;
    padding: 3px 9px;
    cursor: pointer;
  }
  #rm_iframe {
    margin-left: 103px;
    right: 10px;
    top: 170px;
  }
  #rm_iframe.removed {
    top: 10px;
  }

/* } */


#killme_prev {
  margin-right: 2em !important
}
#toggle_buttons:checked + label + #buttons_caution > #wraper_buttons {
  display: block !important;
  /* margin-top: 20px; */
  /* margin-top: 50px; */
  top: 60px;
  position: fixed;
}
#wraper_buttons button {
  padding: 13px;
  margin-bottom: 20px;
  text-align: center;
}

.column {
  margin-right: 10px;
}
/* #cc_links {
  height: 40px;
  min-height: 60px;
} */
#cc_links {
  height: auto;
  min-height: 60px;
}


@media (min-width: 800px) {
  #here_folders {
    margin-top: 10px;
  }
  br.little {
    display:none;
  }
}
@media (max-width: 800px) { 

  #folders button:not(.rm_image) {
    width: calc(50vw - 10px);
  }

  
  #rm_iframe,
  br.large {
    display:none;
  }
  #extra_set {
    right: 10px !important;
    padding: 6px !important;
  }
}
@media (max-width: 750px) {
  #next_img {
    left: 0;
    bottom: 80px;
  }
}
@media (max-width: 650px) {
  #lock, 
  #pause {
    left: 206px;
    bottom: 80px;
  }  
  #pause {
    left: 55px;
    width: 59vw !important;
  }
  #prev_img {
    bottom: 78px;
    left: auto;
    right: 0;
    width: 20vw !important;  
  }
  #next_img {    
    width: 20vw !important;  
  }
  #lock {
    bottom: 0 !important;
    left: 50 !important;
    z-index: 9999999999 !important;
    width: 90px !important;
    position: fixed;
    height: 80px;
  }
  #piano {
    position: fixed;
    bottom: -20px !important;
    right: 0;
    width: 89px;
    height: 78;
    background: beige !important;
    margin-bottom: 0 !important;
    bottom:0 !important;
    top: auto !important;
  }
  #piano + br {
    display: none;
  }
  #wraper_buttons button {
    padding: 11px;
    margin-bottom: 10px;
  }
}



/* li a {
  font-size: 2em;
} */


input.lsinput {
  float: left;
  position: relative;
  margin-top: 5px;
  margin-left: -2px;
  max-width: calc(100% - -3px);
  display: block;
  font-size: 16px !important;
}

html#ls input.lsinput
{
  margin-left: -5px;
  max-width: calc(100% - -9px);
}
.number_compteur {
  position: relative;
  background: #000;
  display: inline-block;
  width: max-content;
  color: #FFF;
  padding: 3px;
  font-size: 10px;
  margin-left: 0;
  margin-bottom: -17px;
  display: none;
}


@media (max-width: 800px) {
  #demo_cc,
  input.lsinput {
      display: none !important;
  }
  html#up .lsinput.up {
    display: inline !important;
  }
}

li {
  list-style: none;
}
ul {
  padding: 0;
}
#chouquette_links a {
  padding: 5px 0 !important;
  display: inline-block;
  text-decoration: none;
}
#chouquette_links li {
  line-height: 1.8em;
}

#demo_cc iframe.removed {
  display:none !important;
}

html.piano  body{
  background: #000 !important;
}
@media (prefers-color-scheme: dark) {  
  html.piano body,
  html.piano {
    background: #FFF !important;
    color: #000;
  }
}
html.piano #piano {
  background: yellowgreen !important;
  border: 2px solid red;
}
#extra_set {
  right: 320px;
  top: 10px;
  position: fixed;
}
body.removed_iframe #extra_set {
  right: 175px;
}
#extra_set, #rm_iframe {
  padding: 10px;
} 
.progress_display {
  width: 100vw;
  background-color: #f3f3f3;
}

.progress-bar {
  height: 20px;
  background-color: #4caf50; /* Couleur de la barre de progression */
  text-align: center; /* Centrer le texte à l'intérieur de la barre */
  line-height: 20px; /* Aligner le texte verticalement */
  color: white; /* Couleur du texte */
}

.progress-container {
  width: 100%;
  max-width: 800px;
  border: 1px solid green;
  background-color: #f3f3f3; /* Couleur de fond de la jauge */
  border-radius: 5px; /* Coins arrondis */
  overflow: hidden; /* Pour éviter que la barre dépasse */
  margin-bottom: 2em;
}

.progress-bar {
  height: 20px; /* Hauteur de la barre de progression */
  background-color: #5ed162; /* Couleur de la barre de progression */
  text-align: center; /* Centrer le texte à l'intérieur de la barre */
  line-height: 100px; /* Aligner le texte verticalement */
  color: #000; /* Couleur du texte */
  transition: width 0.4s ease; /* Animation lors du changement de largeur */
}

.progress-container {
  width: calc(100vw - 20px);
  max-width: 800px;
}

@media (prefers-color-scheme: dark) {  
  .progress-container ,
  .progress_display {
    background-color: #000;
    color: #FFF !important;
  }
  
}

.file_name_progress {
  font-weight: bold;
}

html.error body {
  background: #680000;
}

.removed {
  background: red;
}
.removed img {
  opacity: 0.8;
}
.retour,
#paon,
#poussin {
  position: absolute;
  margin-left: -1.3em;
}
.retour {
  margin-left: -2.1em;
}
#td_center {
  text-align: center;
}

.grp_buttons::before {
  content: attr(data-count);
  position: absolute;
  width: 100px;
  margin-left: -107px;
  pointer-events: none;
  font-size: 10px;
}

.column:first-child #cc_buttons::before {
  content: "Ajouter à CC :";
  position: absolute;
  font-size: 15px;
  pointer-events: none;
}


@media (min-width: 800px) {
  #folders button img {
      max-width: 300px;
      max-height: 200px;
  }

  .button_wrapper {
    float: left;
    /* height: 350px; */
    height: 250px;
  }
  html,body,
  li a {
    font-size: 20px;
  }
}

.disabled {
  display:none !important;
}

.red_not_exists .point_me {
  background: red;
  animation: red_hide 1s 9s;
}
.clicked_pointer .point_me {
  background: rgb(177, 7, 134) !important;
  color: #FFF;
}
.clicked_re .point_me {
  background: green !important;
  color: #FFF;
}
.clicked_re .point_me {
  background: green !important;
  color: #FFF;
}
 
/* .clicked_last {
  background: red;
} */

@keyframes red_hide { 
  0% {
    background: red !important;
  }
  100% {
    background: gray !important;
  }
}

.point_me {
  padding: 11px;
  margin-top: 1em;
}

.img {

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
html#ls .img div {
  height: 200px;
}
.img div {
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}


html#up .grp_buttons {
/* display: inline flow-root list-item; */
float: left;
clear: both;
}
html#up .column.ok {
/* display: inline flow-root list-item; */
float: left;
display: inline list-item;
clear: both;
}
html#up #here_folders {
/* position: absolute; */
/* display: flex; */
position: relative;
display: block;
float: left;
}
html#up #here_folders {
  clear: both;
}

#here_folders_title {
  clear: both;
  float: none;
  /* margin-top: 3rem; */
  margin-top: 30px;
  margin-bottom: -20px;
}
#empty_imgs.empty {
  margin-top: 0;
  margin-bottom: 100px;
  color: #FFF;
  background: red;
  line-height: 1em;
  padding: 10px;
}
#empty_imgs.empty + #here_folders_title,
#empty_imgs.empty + #here_folders_title + #here_folders
{
  display: none !important
}
.submit_lsinput {
  display:block;
  padding: 3px 0px;
  border-radius: 4px;
  margin-bottom: 30px;
  text-align: center !important;
  margin-top: 5px;
}
.rm_confirm {
  position: absolute;
  background: red;
  padding: 13px;
}
.rm_confirm::first-letter {
  text-transform: uppercase;
}
.rm_confirm {
  max-width: 175px;
}

.mv_btn,
.rm_confirm.déplacée {
  background: #d4ff00;
  color: #000 !important;
}


#here_folders .column .rm_image {
  margin-top: -17px;
  margin-top: -46px;
  text-align: right !important;
}
.colone_imgs {
  margin-top: 50px;
}



#renamefolder_submit,
#newfolder_submit,
#newfolder_submit_set {
  display: inline;
}
#renamefolder_form,
#newfolder_form {
  margin-top: 20px;
}
.inline_form {
  display: inline;
  clear: none;
  float: left;
  padding-right: 60px;
}


#dropdownContainer {
  min-height: 45px;
  clear: both;
  float: none;
  margin-top: 0px;
  margin-bottom: 20px;
}
#help_resultDropdown_move_title {
  font-size: 1.3em;
  margin-bottom: -10px;
  display: block;
}
#add_files,
html#up form#form {
  clear:both;
}

/* #add_files {
  margin-top: 1rem;
  margin-bottom: -10px;
} */
#add_files {
  /* margin-top: 1rem; */
  margin-top: 40px;
  margin-bottom: -20px;
  display: block;
  float: left;
}

#make_mv_folder {
  /* margin-bottom: -20px; */
  margin-top: 40px !important;
}

.title_txt {
  margin-bottom: -11px;
  clear: both;
  float: none;
  display: block;
}

.txt_clr {
  padding: 2px 10px 4px 10px;
}

.rm_confirm.rename,
.txt_clr.rename,
.creat_btn,
.rename_btn {
  background: #00dbff;
  color: #000;
  border-radius: 3px;
}
.txt_clr.set,
.creat_btn {
  background: #00ff73;
  color: #000;
  border-radius: 3px;
}
.txt_clr.go,
.creat_btn.go {
  background: #ca6eff;
  color: #000;
  border-radius: 3px;
}

#help_rename_extra,
#help_setgo {
  display: none;
}

.img > div {
  width: calc(100% - 1px) !important;
}

.img_up_chooser {
  position: absolute;
  margin-left: 20px;
  margin-top: 50px;
  height: auto;
  scale: 3;
}






.modal {
  /* display: flex; */
  display: block;
  /* flex-direction: column; */
  /* justify-content: center; */
  gap: 0.4rem;
  width: 70%;
  min-width: 450px;
  
  padding: 1.3rem;
  /* min-height: 250px; */
  min-height: 100px;

  position: absolute;
  top: 20%;
  /* background-color: white; */
  background-color: #1d1d1d;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 99999;
  position: fixed;
  left: 50px;
  
}
.modal[data-modal_open="mv_modal"] {
  min-width: 500px;
  width: auto;
}
#resultDropdown_move {
  min-width: 350px;
}
#help_namebatch_modal_preview,
#resultDropdown_move_files_preview {
  margin-top: 20px;
  max-width: 750px;
}
#help_namebatch_modal_preview img,
#resultDropdown_move_files_preview img {
  padding-right: 20px;
  padding-bottom: 10px;
  height: 100px;
}

.modal-content {
  width: 100%;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 999;
}

.hidden {
  display: none;
}


.btn-close {
  transform: none;
  padding: 10px;
  background: #eee;
  border-radius: 0;
  height: 50px;
  position: absolute;
  display: block;
  line-height: 1em;
  top: 0;
  right: 10px;
}

.dwl_list.dwl_list_btn.open_modal {
  display: block;
  clear: both;
  float: left;
  margin-bottom: -2px;
  margin-top: 25px;
  padding: 10px;
  border: 1px solid;
}
#dwl_list {
  width: 100%;
  min-height: 290px;
  min-width: 430px;
  line-height: 1.6em;
  word-wrap: normal;
  margin-bottom: 20px;
}


.popup-message {
  position: fixed;
  top: 0;
  left:0;
  padding:10px;
  text-align: left;
  font-weight: bold;
  background: yellow;
  width: 100%;
  color: #000 !important;
  z-index: 99999999;
}

#help_dropdown {
  font-style: italic;
  padding-left: 10Px;
  color: yellow;
  background: #000;
  padding-left: 0;
  left: 60px;
  position:relative;
}
#help_set_actu,
#help_set {
  font-style: italic;
  padding-left: 10Px;
  color: rgb(0, 33, 178);
  background: #ffffff;
  position: absolute;
  /* left: 270px; */
  left: 470px;
  /* margin-top: 6; */
  margin-top: 1px;
}

@media (prefers-color-scheme: dark) {  
  #help_set_actu, #help_set {
    color: yellow;
    background: #000;
  }
}
#help_set_actu {
  /* margin-top: 8; */
  margin-top: 40;
  margin-top: -40;
}
#resultDropdown {
  min-width: 410px;
  margin-bottom: 10px;
  max-width: 410px;
}


@media (max-width: 800px) {
  #help_dropdown,
  #help_set, 
  #help_set_actu {
    position: relative;
    left: 0;
    clear: both;
    display: block;
    margin: 0;
    font-size: 13px;
  }
  #help_set_actu {
    position: absolute;
    right: 10px;
    left: auto;
  }
  #actual_folder {
    margin-top: -5px;
  }
  #help_set {
    top: -10px;
    position: relative;
  }
  #help_dropdown {
    margin-top: -4px;
    /* margin-bottom: 40px !important; */
    padding-left: 10px;
    padding-left: 10px;
    margin-bottom: 20px !important;
  }
  #chouquette_links {
    margin-bottom: -10px;
  }
  #help_set_actu {
    position: relative;
    right: 10px;
    left: auto;
  }
  #actual_folder {
    /* margin-top: -5px; */
    margin-top: -15px;
    width: 240px;
    width: auto;
    float: none;
    display: inline-block;
  }
  html#up #chouquette_links li {
    line-height: normal;
  }
  #add_files {  
    margin-top: 30px;
  }

  html#up #chouquette_links li.text {
    display: none;
  }

  #help_set_actu {
    margin-top: -15px;
    right: 0;
    left: auto;
    position: absolute;
    font-size: 17px;
  }
  #help_set_actu {    
    margin-top: -20px;  
    display:none;
  }
  #newfolderContainer {
    margin-bottom: 20px;
  }

  html#up .button_wrapper {
    float: left;
    height: 150px;
  }
  html#up #folders button img {
    max-width: calc(50vw - 20px);
    max-height: 200px;
    padding: 0 !important;
  }
  html#up #folders .button_wrapper:nth-child(2n) {
    clear: none !important;
    margin-bottom: 20px;
  }
  html#up #folders .button_wrapper {
    height: 140px !important;
    overflow: hidden;
    width: 50%;
  }

  #here_folders_title {
    text-align: center;
  }
  /* html#up .column.ok {
    display: block;
    clear: both;
    margin: auto;
    float: none;
    width: 100px;
  } */
  html#up #here_folders {
    /* position: absolute; */
    /* display: flex; */
    position: relative;
    display: block;
    float: none;
    margin: auto;
    width: 100px;
    width: fit-content;
  }
  html#up .column.ok {  display: block; }


  #chouquette_links br {  display: none; }
}

html#up .grp_buttons::before {
  display: none !important;
}

#newfolderContainer_set {
  clear: both;
  width: 90%;
  padding-right: 0 !important;
}
#make_mv_folder,
#renamefolder_form,
#newfolder_form {
  margin: 0;
}
.up_menu {
margin:0 !important;
}
.up_menu li {
  display: inline;
  padding-right: 50px;
}
#siofu_input,
button,
select, input {
  font-size: 1.2em !important;
}
.sep_help {
  display: inline-block;
  width: 20px;
}

#goto_here_folders {
  display: none;
}


.img_up_chooser_button.mv_btn.open_modal {
  text-align: center !important;
  width: 200px;
  margin-left: 50px;
  margin-right: 50px;
}

.img_up_namebatch_btn.open_modal.namebatch_modal {
  text-align:center !important;
}

#cc_links {
  text-align: center;
}
.ghost {
  user-select: none;
  margin: 0 !important;
  float: left;
}

.ghost {
  pointer-events: none;
}

html#up .column .ghost {
  max-width: 292px;
  margin-bottom: 44px !important;
  margin-top: 11px !important;
}
html#up .column .colone_imgs .img {
  width: 305px !important;
  max-width: none !important;
}
html#up .column .rm_confirm {
  width: 279px !important;
  max-width: none !important;
}

html#up .column .rm_confirm.exists {
  z-index: 99999;
  width: 599px !important;
  color: #FFF !important;
  font-weight: bold;
  margin-left: -10px;
}


#here_folders {
  padding-bottom: 200px;
}

#folders button img.error {
  opacity: 1;
  width: 210px !important;
  display: block;
  height: 150px;
}

.add_button.error_img img {
  opacity: 0 !important;
}
.add_button.error_img {
  background: red
}
.img_error_mess {
  max-width: 205px !important;
  display: block;
  position: absolute;
  margin-top: -170px;
  line-height: 14px;
  font-size: 15px;
  text-align: left;
  word-wrap: anywhere;
  background: #993368;
  padding: 9px;
  z-index: 0;
  font-weight: normal;
  pointer-events: none;
  height: 145px;
  overflow: hidden;
}
.add_button:hover .img_error_mess {
  z-index: 100;
}
#files {
  display: block;
  clear: both;
  float: left;
  /* margin-bottom: 70px; */
  margin-bottom: 20px;
}
.hidden {
  opacity: 0 !important;
}
.trunc_wrap {
  display: block;
  word-wrap: anywhere;
  white-space: pre;
}
#sub_namebatch_modal {
  display: block;
}

#add_files, html#up form#form {
  clear: none;
  /* margin-top: 100px; */
  margin-left: 0px;
}
#siofu_input {
  margin-top: 100px;
  margin-left: 275px;
  cursor: pointer;
}
  /* #siofu_input {
    margin-top: 90px;
    margin-left: 140px;
  } */
#add_files {
  clear: both;
  width: 100%;
}
#siofu_input {
  /* margin-top: 30px; */
  /* margin-left: 240px; */
  margin-top: 40px;
  margin-left: 270px;
}
#goto_here_folders {
  clear: both;
  float: none;
  display: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 900px) {
  .up_menu li {
    display: block;
  }
  #resultDropdown {
    min-width: auto;
    width: calc(100vw - 160px) !important;
    max-width: none;
  }
  
  #newfolderContainer,
  #renamefolderContainer {
    padding-right: 0px !important;
  }
  #newfolder_name_set,
  #renamefolder_name,
  #newfolder_name {
    width: calc(100vw - 160px) !important;
    display: inline-block;
  }
  #siofu_input {
    display: block;
    float: left;
    margin-left: 0px;
    clear: both;
    margin-bottom: 10px;
  }

  #folders button img {
    max-width: calc(50vw - 100px);
    max-height: 200px;
  }
  #old_files {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 0px !important;
    padding-top: 30px;
    float: none;
  }
  .modal[data-modal_open="mv_modal"] {
    min-width: 220px;
    width: calc(100% - 43px);
  }
  #newfolderContainer_set {
    padding-top: 20px;
  }

  #files ._up:empty {
    display: none !important;
  }

  .modal {  
    top: 20px !important;  
    left: 5px !important;
    padding: 15px !important;
  }
  .modal-content h4 {
    margin-top: 8px !important;
    margin-bottom: 10px !important;
  }
  .btn-close {
    top: 20px !important;
    right: 6px !important;
    position: fixed !important;
  }
  #dwl_list {
    min-height: 15em;  min-width: 430px;  margin-bottom: 20px;
  }

  html#up h1:not(#actual_folder) {
    font-size: 22px !important;
  }
}

html#up #here_folders:empty::before,
html#up .column.ok:empty::before {
  content: "DOSSIER VIDE \A envoyez vos images !";
  background: red;
  padding: 10px;
  line-height: 40px;
  display: block;
  text-align: center;
}

     


#toggle_folders_up:checked ~ #folders {
display: none !important;
}
#toggle_folders_up ~ label:after {
  content: "😵 cacher"
}
#toggle_folders_up:checked ~ label:after {
  content: "🤓 montrer"
}
label[for="toggle_folders_up"] {
  cursor: pointer;
  display: block;
  margin-bottom: 30px;
  margin-left: 30px;
  /* margin-top: -3px; */
  margin-top: -50px;
}
#toggle_folders_up {
  margin-bottom: 30px;
}
/* #toggle_folders_up:checked, */
/* #toggle_folders_up:checked  + label { */
  /* margin-top: -50px; */
/* } */
.modal-content h4 {
  margin-top: 0;
}
.up_menu li.cc {
  clear: both;
  display: block;
}
.up_menu li.text { 
  display: none !important;
}

#nav_folders {
  position: fixed;
  bottom: 0;
  z-index: 99;
}

.gogo_nextprev a {
  text-decoration: none;
  padding: 10px;
  color: #FFF !important;
  background: #000;
}
/* #go_next {
  margin-left: 70px;
} */

html .gogo_nextprev a:visited {
  color: #FFF !important;
}

#nav_folders div {
  display: inline;
  clear: none;
  float: left;
}
#div_curpath h1 {
  margin: 0 20px;
}
#div_curpath h1#actual_folder::before {
  content: "/";
  margin-left: -2px;
  margin-right: 7px;
}


#go_prev[data-loop="exists"] a:before {
  content: "<- "
}
#go_next[data-loop="exists"] a:after {
  content: " ->"
}

#go_prev[data-loop="loop"] a:before {
  content: "X "
}
#go_next[data-loop="loop"] a:after {
  content: " X"
}



.point_me {
  line-height: 1em;
  border-radius: 3px 3px 0 0;
  margin-bottom: -3px;
}