.image.active {
    animation: mymove 1s infinite linear;
}
.image.active + .image {
    animation: mymove_next 1s infinite linear;
}

@keyframes mymove {
    50% {z-index: 100;}
}

@keyframes mymove_next {
    50% {z-index: 101;}
}
